users.host=localhost
users.database={{dbname}}
users.db_user={{dbuser}}
users.db_passwd={{dbpassword}}
users.table=djcyradm_mailusers
users.user_column=username
users.password_column=password
users.where_clause = is_active=1
users.password_crypt=1
